DISCORD_BOT_TOKEN=
DISCORD_CLIENT_SECRET=
SESSION_SECRET=CHANGE_THIS_TO_A_RANDOM_STRING_32_CHARS_OR_MORE
FRONTEND_URL=https://YOURNAME.github.io/YOUR-REPO
API_PUBLIC_URL=https://YOUR-RAILWAY-DOMAIN.up.railway.app
# DATA_FILE=/data/turbo-db.json
# YOUTUBE_API_KEY=
# TWITCH_CLIENT_ID=
# TWITCH_CLIENT_SECRET=

ADMIN_PANEL_PASSWORD=CHANGE_THIS_TO_A_STRONG_PASSWORD
